/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * PulsarZet implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * pulsarzet.css
 *
 * PulsarZet stylesheet
 *
 */
 /*
    width: 1652px;
    height: 1200px;

 */

/* Note: you must not use any @import directive */

/********* You can start writing your CSS below this line: **********/

.table {
    width: 1650px;
    height: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    overflow: visible;
    position: relative;
}